body {
		background-color: #F2F2F2;
	    margin: 0;
	  	font-family: Helvetica;
	  }

	.topheader {
	    background-color: #278CC6;
	    height: 4px;
	}

	.topnavbar {
	    background-color: #E7E7E7;
	    height: 30px;
	}

	.topnavbar button {
	    border: none;
	    height: 28px;
	    box-shadow: none;
	}

	.topnavbarright  {
		background-color: #E7E7E7;
		color: black;
		float: right;

		width: 25px;
	    height: 28px;
	    text-align: center;
	    line-height: 30px;
	}

	.topnavbarrightbutton  {
		background-color: #E7E7E7;
		color: gray;
	}

	.topnavbarshadow {
	    background-color: #B7B7B7;
	    height: 2px;
	}

	.menushadow {
		background-color: #B7B7B7;
	    height: 1px;
	}

	.menu {
		
	    background-color: #E7E7E7;
	    height: 40px;
	}

	button.continue {
	    background-color: #2A873D;
	    height: 25px;
	    width: 25px;
	    border: none;
	    border-radius: 80%;
	    color: white;
	    margin: 5px;
	}

	input.okcode {
	}

	button.reduce {
		background-color: #E7E7E7;
		border: none;
		color: #39AEE5;
		height: 37px;
		margin: 0px;
		padding: 0px;
	}

	button.save {
		background-color: gray;
	    height: 25px;
	    width: 25px;
	    border: none;
	    border-radius: 80%;
	    color: white;
	    margin: 0px;
	}

	button.back {
		background-color: #2A873D;
	    height: 25px;
	    width: 25px;
	    border: none;
	    border-radius: 80%;
	    color: white;
	    margin: 0px;
	}


	button.cancel {
		background-color: #F2C749;
	    height: 25px;
	    width: 25px;
	    border: none;
	    border-radius: 80%;
	    color: white;
	    margin: 0px;
	}

	button.exit {
		background-color: #C83B3B;
	    height: 25px;
	    width: 25px;
	    border: none;
	    border-radius: 80%;
	    color: white;
	    margin: 0px;
	}

	.screentitle {
		background-color: #F2F2F2;
	    height: 30px;
	    font-size: 20px;
	    color: #575757;
	    padding-top: 7px;
	    padding-left: 14px;
	    text-shadow:  0px 0px 1px gray;
	    text-align: left;
	}

	.screenmenu {
		background-color: #F2F2F2;
	    height: 34px;
	    font-size: 20px;
	    color: #575757;
	    padding-top: 7px;
	    padding-left: 14px;
	    text-shadow:  0px 0px 1px gray;
	    text-align: left;
	}

	.menushadowbutton {
		background-color: #F2F2F2;
		border: none;
	    height: 28px;
	    box-shadow: none;
	}

	.matchCode {
		visibility: hidden;
	}